.content{
    margin-right:50px;
    margin-left:300px;
    margin-top:100px;
   
    border:3px solid rgba(221,146,0, 74%); 
    border-radius:10px;
    color:rgba(6, 29, 61, 100%);
    font-weight:500;
}
.matter{
     margin-left:150px;
     margin-bottom:100px;
}
.fa-circle{
    font-size:10px;
    color:rgba(6, 29, 61, 100%)
}
h3{
   margin-left:40px;
   margin-top:50px;
   font-size:35px;
   font-style:italic;
   color:rgba(221,146,0, 74%)
}
p{
    margin-left:30px;
    font-size:20px;
    line-height:35px;
}
.prgm{
    border:2px solid red;
    background: rgba(242, 227, 150,30%);
    width:900px;
    padding:10px;
    margin-left:30px;
}